.farm {
	z-index: 2000;
}

.chunk {
	background-color: #ecc99a;
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: fit-content;
	overflow: visible;
}

.chunk.not-created {
	background-color: grey;
}

.cell-row {
	display: flex;
	flex-direction: row;
}

.cell {
	height: 60px;
	width: 60px;
	background-color: #ddb886;
	border-radius: 20px;
	margin: 6px;
}

.cell:hover {
	box-shadow: 2px 2px 2px 1px rgba(125, 93, 93, 0.326);
}
