.friend-list {
	height: 5vh;
	font-size: 1.5rem;
}

.title {
	text-align: center;
	margin: 50px;
	color: rgb(37, 37, 37);
}

.form {
	padding: 50px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: 15px;
	margin-left: 15px;
	align-items: stretch;
}

.friend-requests {
	/* padding: 50px; */
	/* position: absolute; */
	right: 80px;
}
