.friends-root {
	overflow-y: auto;
	max-height: 95vh;
}
.friends-root * {
	overflow-y: visible;
}
.user-info .std-box-content {
	display: flex;
	flex-direction: row;
}
.friend-list {
	height: 5vh;
	font-size: 1.5rem;
}

.title {
	text-align: center;
	margin: 50px;
	color: rgb(37, 37, 37);
}

.form {
	padding: 50px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: 15px;
	margin-left: 15px;
	align-items: stretch;
}

.friend-requests {
	/* padding: 50px; */
	/* position: absolute; */
	right: 80px;
}

.request-list-item {
	display: flex;
	flex-direction: row;
}

.request-list-buttons {
	margin: 15px;
	border-radius: 12px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 7px 0 rgba(0, 0, 0, 0.2);
}

.request-list-buttons > * {
	height: 100%;
}
