.farm-list {
	background-color: #c8f0ef;
	color: #26979f;
	width: 200px;
	height: auto;
	display: flex;
	justify-content: start;
	/* position: fixed; */
	top: 90px;

	z-index: 1000;
	margin: 0.5rem;
	border-radius: 12px;
	padding: 0.5rem;
}

.farm-list-handle {
	width: 20px;
	height: 20px;
}

.farm-list-content {
	width: auto;
}
