.form-container {
	margin: 50px auto;
	width: 1000px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	border-radius: 12px;
	height: 85vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.form-content-left {
	background-color: #ff6169;
	border-radius: 12px 0 0 12px;
	position: relative;
	display: flex;
	/* flex-direction: column; */
}

.entrance-title {
	font-size: 54px;
	color: #faebd7;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#name {
	font-size: 15vh;
	font-family: 'Lobster', cursive;
}
#by-rdogs {
	font-size: 5vh;
}

.form-img {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-img-2 {
	width: 60%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-success {
	text-align: center;
	font-size: 32px;
	margin-top: 30vh;
	color: #faebd7;
}

#form-success-button {
	position: absolute;
	margin: 50vh;
	width: 10vh;
}

.form-content-right {
	border-radius: 0 10px 10px 0;
	position: relative;
	background-color: #26979f;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form h1 {
	font-size: 1rem;
	text-align: start;
	width: 80%;
	margin-bottom: 1rem;
	color: #faebd7;
}

.form-inputs {
	margin-bottom: 0.5rem;
	width: 80%;
	/* height: fit-content; */
}

.form-inputs p {
	font-size: 0.8rem;
	margin-top: 0.5rem;
	color: #ff6169;
}

.form-label {
	display: inline-block;
	font-size: 0.8rem;
	margin-bottom: 6px;
	color: #faebd7;
}

.form-input {
	display: block;
	padding-left: 10px;
	outline: none;
	border-radius: 2px;
	height: 40px;
	width: 100%;
	border: none;
}

.form-input::placeholder {
	color: #595959;
	font-size: 12px;
}

.form-input-btn {
	width: 90%;
	height: 50px;
	margin-top: 15px;
	border-radius: 12px;
	background: #ff6169;
	outline: none;
	border: none;
	color: #faebd7;
	font-size: 1rem;
}

.form-input-btn:hover {
	cursor: pointer;
	background-color: #faebd7;
	color: #ff6169;
	transition: all 0.4s ease-out;
}

.form-input-login {
	font-size: 0.8rem;
	margin-top: 10px;
	color: #faebd7;
	width: 80%;
	text-align: center;
}

.form-input-login a {
	text-decoration: none;
	color: #27cdff;
	font-weight: 600;
}
